.cards {
    background-color: #FE6E4F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
  }
  .form {
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #FFD6CE;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  
  .title {
    font-weight: bold;
    color:#FF5733
  }
  .Form-Login {
    margin: 100px;
    padding: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 0 200px;
    padding: 50px;
    border-radius: 10px;
  }